{
  "extends" : "eslint-config-availity/react",
  "rules": {
    "semi" : [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "^(unused|omit)" }]
  }
}
