.av-loading-indicator {
    text-align: center;
}
.av-loading-bullet {
    display: inline-block;
    opacity: 0;
    font-size: 1.2em;
    color: #02a17c;
}
.av-block-ui {
    position: relative;
    min-height: 3em;
}
.av-block-ui-container {
    position: absolute;
    z-index: 1010;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 2em;
    cursor: wait;
    overflow: hidden;
}
.av-block-ui-container:focus {
    outline: none;
}
.av-block-ui-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: white;
}
.av-block-ui-message-container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    z-index: 10001;
}
.av-block-ui-message {
    color: #333;
    background: none;
    z-index: 1011;
}
